.mainnav ul {
  display: flex;
  justify-content: center;
  margin-top: 50px;
}

.container {
  display: flex;
  width: 100vw;
  height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  align-content: center;
  flex-wrap: wrap;
  padding-top: 3rem;
}
.mainnav li {
  margin: 0 24px;
  list-style: none;
  font-weight: bold;
}
